/* General table styles */

/* 
/* Button styling */


/* Table responsive design */
@media (max-width: 768px) {
  table {
    font-size: 13px; /* Smaller font size on tablets */
  }

  th, td {
    padding: 8px 12px;
  }

  button {
    font-size: 13px;
    padding: 8px 12px;
  }
}

@media (max-width: 480px) {
  table {
    font-size: 12px; /* Even smaller font size on mobile */
  }

  th, td {
    padding: 8px 10px;
  }

  button {
    font-size: 12px;
    padding: 6px 10px;
  }
}
.status-closed {
  background-color: green;
  color: white;
  padding: 5px;
  border-radius: 4px;
}

.status-ongoing {
  background-color: orange;
  color: white;
  padding: 5px;
  border-radius: 4px;
}

.status-notstarted {
  background-color: rgb(101, 148, 210);
  color: white;
  padding: 5px;
  border-radius: 4px;
}
.status-pending {
  background-color: rgb(99, 173, 241);
  color: white;
  padding: 5px;
  border-radius: 4px;
}

.writeTask{
  padding: 70px;
  margin-top: 10px;
  border-radius: 10px;
  margin-left: 20px;
  box-shadow: 0cm;
  background-color: rgb(196, 239, 239);
  width:717px;
  height:90px;
}