.home {
    
    background-color:rgba(105, 156, 223, 0.274);
    margin-left: 10px;
    border-radius: 10px;
    padding:98px;
    width:417px;
    font-size: small;
    text-align: left;
    margin-top: 7px;
    margin-left: 20px;
  }