.app-bar {
    background-color: #274653;; /* Dark blue-gray */
    box-shadow: none;
    font-family: "Roboto", sans-serif;
    padding: -7px;
    font-size: 17px;
    font-weight: 400;
    line-height: 1.5;
  }
  .dropdown_bar {
    box-shadow: none;
    padding: 10px;
    color:white;
    font-family: "Roboto", sans-serif;
    text-align: center;
  }
  .toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
  }
  
  .app-name {
    font-weight: bold;
  }
  
  .nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
  }
  
  .nav-button {
    margin: 0 10px;
    text-transform: none;
    font-weight: 500;
    transition: color 0.3s;
  }
  
  .nav-button:hover {
    color: #1abc66; /* Teal color for hover effect */
  }
  
  .dropdown-menu {
    margin-top: 45px; /* Ensure dropdown aligns below button */
    background-color: #c5dcc8;
    font-family: "Roboto", sans-serif;
    /* Darker background for dropdown */
  }
  
  .dropdown-menu .MuiMenuItem-root {
    color: white;
  }
  
  .dropdown-menu .MuiMenuItem-root:hover {
    background-color: #1abc9c; /* Teal hover effect */
  }
  
  .user-info {
    display: flex;
    align-items: center;
  }
  
  .signout-button {
    border: 1px solid white;
    padding: 5px 15px;
    margin-left: 10px;
    transition: background-color 0.3s, border-color 0.3s;
  }
  
  .signout-button:hover {
    background-color: white;
    color: #2c3e50;
    border-color: #1abc9c; /* Teal border on hover */
  }
  .custom-leave-dropdown {
    color: white;
}

.contact{
  font-family: "Roboto", sans-serif;
  color:'#e7c568'
}