.projectmanagement{
    margin-top: 20px;
    margin-left: 20px;
    box-shadow: 0cm;
    background-color:rgb(206, 243, 243);
    width:87%;
    height:170px;
}
@media (max-width: 600px) {
    .project form > * {
        flex: 1 1 100%;
    }
}
headers{
    color: blueviolet;
}