.allTask{
    padding: 70px;
    margin-top: 20px;
    margin-left: 20px;
    box-shadow: 0cm;
    background-color: azure;
    width:717px;
    height:90px;
}

.Allweekly{
    padding: 70px;
    margin-top: -130px;
    margin-left: 20px;
    box-shadow: 0cm;
    background-color:azure;
    width:517px;
    height:270px;
}
.AllMonthly{
    padding: 70px;
    margin-top: -110px;
    margin-left: 570px;
    box-shadow: 0cm;
    background-color:azure;
    width:60%;
    height:470px;
}
.AllYearly{
    padding: 70px;
    margin-top: -330px;
    margin-left:17px;
    box-shadow: 0cm;
    background-color:azure;
    width:517px;
    height:270px;
}

.GetEmployee{
    padding: 70px;
    margin-top: 20px;
    margin-left: 580px;
    box-shadow: 0cm;
    background-color: azure;
    width:717px;
    height:90px;
}



.Accoun_Ui{
    background-color:#aac8d7 ;
    background-size:cover;
    color:white ;
    width:100% ;
   height:200px ;   
   padding:20px ;
   margin-top: 10px;
   
  
}
.Dashboard{
    background-color:rgb(70, 101, 107) ;
    background-size:cover;
    color:white ;
    width:100% ;
    margin-left: 10px;
   height:100% ;
   padding:20px ;
   margin-top: 10px;
}
.filter{
    background-color:#d7ebe7 ;
    background-size:cover;
    color:rgb(231, 163, 163) ;
    width:319px ;
    margin-left: 10px;
   height:70px ;
   padding:10px ;
   margin-top: 10px;
}
.filterPro{
    background-color:#bdeded ;
    border-radius: "70px";
     box-shadow: "0px 4px 6px rgba(0, 0, 0, 0.1)";
    color:rgb(231, 163, 163) ;
    width:559px ;
    margin-left:-129px;
   height:70px ;
   padding:10px ;
   margin-top:-140px;
}
.overallPo{
    background-color: "#335262";
          color: "white";
          border-radius: "10px";
          padding: "20px";
          box-shadow: "0px 4px 6px rgba(0, 0, 0, 0.1)";
          text-align: "center";
          font-family: "Arial, sans-serif";

}
.Overallpo{
    margin-top: -221px;
    margin-left:397px;
    width:517px;
    height:140px;
    color: white;
}
.Overallpo1{
    margin-top: -140px;
    margin-left:619px;
    width:517px;
    height:140px;
    color: white;
}
.Overallpo2{
    margin-top: -162px;
    margin-left:827px;
    width:517px;
    height:140px;
    color: white;
}
.Overallpo3{
    margin-top: -147px;
    margin-left:1027px;
    width:517px;
    height:140px;
    color: white;
}

.Overallpo4{
    margin-top: -140px;
    margin-left:1217px;
    width:517px;
    height:140px;
    color: white;
}

.Overallca1{
    margin-top: -202px;
    margin-left:-219px;
    width:517px;
    height:140px;
    color: white;
}
.Overallca2{
    margin-top: -145px;
    margin-left:-4px;
    width:517px;
    height:140px;
    color: white;
}.Overallca3{
    margin-top: 47px;
    margin-left:-209px;
    width:517px;
    height:140px;
    color: white;
}.Overallca4{
    margin-top: -162px;
    margin-left:827px;
    width:517px;
    height:140px;
    color: white;
}
