.weekly{
    padding: 70px;
    margin-top: 20px;
    margin-left: 20px;
    box-shadow: 0cm;
    background-color:#335262;
    width:517px;
    height:270px;
    font-family: 'Roboto", sans-serif';color: white;
}
.Monthly{
    padding: 70px;
    margin-top: -270px;
    margin-left: 570px;
    box-shadow: 0cm;
    background-color:azure;
    width:60%;
    height:470px;
}
.Yearly{
    padding: 70px;
    margin-top: -170px;
    margin-left:17px;
    box-shadow: 0cm;
    background-color:azure;
    width:517px;
    height:270px;
}